@{
    ViewData["Title"] = "Felix Lustgrotte";
}

<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">

<title>TheFlexBlade - Loot3</title>
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800" rel="stylesheet">
<link href="/html/css/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../html/js/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" src="../html/js/velocity.min.js"></script>
 <script type="text/JavaScript" src="../html/js/sha512.js"></script>
 <script type="text/JavaScript" src="../html/js/forms.js"></script>
<script type="text/javascript" src="../html/js/script.js"></script>


    <meta name="publisher" content="flexblade" />

    <meta name="author" content="Felix" />



<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />



</head>


<body>

<div class="website"  id="top">
  <div class="container">

    <div class="barspace"></div>
    <div class="bar">
      <div class="leftpart">
        <a class="barlink logo" href="#">TheFlexBlade.com</a>
        <a class="barlink logo" href="#"></a>
        <a class="barlink logo" href="#"></a>
        <a class="barlink logo" href="#"></a>
      </div>
      <div class="middle">
      </div>
      <div class="rightpart">

        <a class="barlink" href="#">Register</a>
        <a class="barlink" href="#">Login</a>
      </div>
    </div>
    <div class="mainmenucontainer">
              <div class="mainmenu">
                <div class="leftpartmenu">
                  <a href="webapps.php" class="menupoint ">WebApps</a>
                  <a href="servers.php" class="menupoint ">Server</a>
                  <a href="#" class="menupoint ">Other</a>
                </div>
                <a href="/index.php" class="homebutton ">

                  <div class="svg-icon no-stroke home" >
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 viewBox="0 0 116.1 117.4" style="enable-background:new 0 0 116.1 117.4;" xml:space="preserve">

                    <polygon class="stroke" points="32.4,116.9 0.5,73.6 11.9,23.1 58,0.6 104.1,21.3 115.5,73.9 83.6,116.9 "/>
                    </svg>

                  </div>

                  <div class="svg-icon no-stroke shuriken" >
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  x="0px" y="0px" viewBox="0 0 42.072 42.072" style="enable-background:new 0 0 42.072 42.072;" xml:space="preserve" >

                    	<path class="fill" d="M41.594,16.129H30.725c-0.552,0-0.984,0.458-1.148,0.986c-0.42,1.35-1.68,2.329-3.166,2.329   c-1.832,0-3.315-1.484-3.315-3.315c0-1.019,0.46-1.931,1.185-2.539c0.422-0.355,0.713-0.945,0.541-1.47L21.344,1.418   c-0.171-0.525-0.447-0.525-0.618,0l-3.445,10.603c-0.171,0.525,0.089,1.179,0.454,1.593c0.512,0.58,0.824,1.34,0.824,2.175   c0,1.831-1.484,3.315-3.315,3.315c-1.367,0-2.529-0.83-3.033-2.012c-0.216-0.508-0.696-0.964-1.249-0.964H0.478   c-0.553,0.001-0.638,0.264-0.191,0.589l9.294,6.752c0.447,0.324,1.134,0.267,1.632,0.027c0.429-0.207,0.909-0.324,1.418-0.324   c1.831,0,3.315,1.484,3.315,3.314c0,1.831-1.484,3.315-3.315,3.315c-0.185,0-0.366-0.019-0.541-0.052   c-0.295-0.055-0.663,0.287-0.833,0.812l-3.235,9.956c-0.171,0.525,0.053,0.688,0.5,0.363l8.909-6.473   c0.447-0.324,0.569-0.94,0.423-1.435c-0.086-0.292-0.133-0.601-0.133-0.92c0-1.831,1.484-3.315,3.315-3.315   s3.315,1.484,3.315,3.315c0,0.319-0.047,0.628-0.133,0.92c-0.146,0.494-0.024,1.11,0.423,1.435l8.909,6.473   c0.446,0.324,0.671,0.162,0.5-0.363l-3.209-9.875c-0.171-0.525-0.485-0.902-0.709-0.871c-0.132,0.02-0.267,0.03-0.405,0.03   c-1.831,0-3.314-1.484-3.314-3.315c0-1.83,1.483-3.314,3.314-3.314c0.447,0,0.87,0.092,1.258,0.256   c0.508,0.215,1.211,0.256,1.658-0.069l9.143-6.642C42.233,16.392,42.146,16.129,41.594,16.129z M21.034,25.204   c-1.598,0-2.893-1.295-2.893-2.894c0-1.598,1.295-2.893,2.893-2.893s2.893,1.295,2.893,2.893   C23.927,23.909,22.632,25.204,21.034,25.204z"/>

                    </svg>
                  </div>

                  <div class="svg-icon house" >
                    <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                    <svg   version="1.1" viewBox="0 0 16 16"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path class="fill no-stroke" d="M15.45,7L14,5.551V2c0-0.55-0.45-1-1-1h-1c-0.55,0-1,0.45-1,1v0.553L9,0.555C8.727,0.297,8.477,0,8,0S7.273,0.297,7,0.555  L0.55,7C0.238,7.325,0,7.562,0,8c0,0.563,0.432,1,1,1h1v6c0,0.55,0.45,1,1,1h3v-5c0-0.55,0.45-1,1-1h2c0.55,0,1,0.45,1,1v5h3  c0.55,0,1-0.45,1-1V9h1c0.568,0,1-0.437,1-1C16,7.562,15.762,7.325,15.45,7z"/>
                    </svg>
                  </div>

                </a>
                <div class="rightpartmenu">
                  <a href="social.php" class="menupoint ">Social</a>
                  <a href="downloads.php" class="menupoint ">Downloads</a>
                  <a href="contact.php" class="menupoint ">Kontakt</a>
                </div>
              </div>
        </div>

        <div class="socialsidebar">
              <a href="https://twitter.com/FlexBlade"  target="_blank" class="socialbtn">
                <div class="svg-icon twitter" >
                  <?xml version="1.0" encoding="iso-8859-1"?>
                  <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 449.956 449.956" style="enable-background:new 0 0 449.956 449.956;" xml:space="preserve">

                  	<path d="M449.956,85.657c-17.702,7.614-35.408,12.369-53.102,14.279c19.985-11.991,33.503-28.931,40.546-50.819   c-18.281,10.847-37.787,18.268-58.532,22.267c-18.274-19.414-40.73-29.125-67.383-29.125c-25.502,0-47.246,8.992-65.24,26.98   c-17.984,17.987-26.977,39.731-26.977,65.235c0,6.851,0.76,13.896,2.284,21.128c-37.688-1.903-73.042-11.372-106.068-28.407   C82.46,110.158,54.433,87.46,31.403,59.101c-8.375,14.272-12.564,29.787-12.564,46.536c0,15.798,3.711,30.456,11.138,43.97   c7.422,13.512,17.417,24.455,29.98,32.831c-14.849-0.572-28.743-4.475-41.684-11.708v1.142c0,22.271,6.995,41.824,20.983,58.674   c13.99,16.848,31.645,27.453,52.961,31.833c-7.995,2.091-16.086,3.138-24.269,3.138c-5.33,0-11.136-0.475-17.416-1.42   c5.9,18.459,16.75,33.633,32.546,45.535c15.799,11.896,33.691,18.028,53.677,18.418c-33.498,26.262-71.66,39.393-114.486,39.393   c-8.186,0-15.607-0.373-22.27-1.139c42.827,27.596,90.03,41.394,141.612,41.394c32.738,0,63.478-5.181,92.21-15.557   c28.746-10.369,53.297-24.267,73.665-41.686c20.362-17.415,37.925-37.448,52.674-60.097c14.75-22.651,25.738-46.298,32.977-70.946   c7.23-24.653,10.848-49.344,10.848-74.092c0-5.33-0.096-9.325-0.287-11.991C421.785,120.202,437.202,104.306,449.956,85.657z" class="fill no-stroke"/>

                  </svg>

                </div>
              </a>
              <a href="https://www.youtube.com/channel/UCq8w6mVqDvi-AEz44Rego8g/" target="_blank" class="socialbtn">
                <div class="svg-icon youtube" >
                  <?xml version="1.0" encoding="iso-8859-1"?>
                  <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 461.001 461.001" style="enable-background:new 0 0 461.001 461.001;" xml:space="preserve">

                  	<path class="fill no-stroke" d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
                  		c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
                  		C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
                  		c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"/>

                  </svg>
                </div>
              </a>
              <a href="https://www.twitch.tv/theflexblade" target="_blank"  class="socialbtn" >
                <div class="svg-icon twitch" >
                  <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                  <svg enable-background="new 0 0 30 30" height="30px"  version="1.1" viewBox="0 0 30 30" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path class="fill no-stroke" d="M21,26h-6l-3,4H8v-4H1V5.132L3,0h26v18L21,26z M26,17V3H5v19h6v4l4-4   h6L26,17z" />
                  <rect class="fill no-stroke" height="8" id="_x7C_" width="3" x="18" y="8"/>
                  <rect class="fill no-stroke" height="8" id="_x7C__1_" width="3" x="12" y="8"/>
                  </svg>
                </div>
              </a>
            </div>

    <div class="content">


    </div>

  </div>
  <div class="footercontainer">
      <a href="#top" class="backtotop">
        <div class="svg-icon white lip" >
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 30.7 11.1"  xml:space="preserve">

          <polyline class="fill no-stroke" points="30.3,0.3 22,10.6 8.7,10.6 0.4,0.3 "/>
          </svg>
      </div>
      <div class="svg-icon blue arrow" >
        <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
        <svg   version="1.1" viewBox="0 0 32 32"  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path class="fill no-stroke" d="M24.285,11.284L16,19.571l-8.285-8.288c-0.395-0.395-1.034-0.395-1.429,0  c-0.394,0.395-0.394,1.035,0,1.43l8.999,9.002l0,0l0,0c0.394,0.395,1.034,0.395,1.428,0l8.999-9.002  c0.394-0.395,0.394-1.036,0-1.431C25.319,10.889,24.679,10.889,24.285,11.284z" />

        </svg>
      </div>
    </a>
      Copyright &copy; 2017 . All Rights Reserved.
    </div>
</div>

</body>

</html>
